<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
    <script src="test01.js"></script>
    <title>Title</title>

</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="msg">
            鼠标悬停几秒钟查看 此处动态
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在我看到你了</p>
    </div>
    <!-- 指令-->
<div id="app-4">
    <!--{{ 1+1 }}<br>-->
    <!--{{ 1>1?3:4 }} <br>-->
    <!--<p v-text="msg2">{{msg2}}+12312</p>-->
    <ol>
        <li v-for="todos in todos">
            {{todos.text}}
        </li>
    </ol>
</div>
    <div id="app-5">
        {{msg5}}
        <h1 v-text="msg5"></h1>
        <h2 v-text="msg5+'12312321'"></h2>
        <h3 v-text="htmlStr"></h3>
        <hr>
        <hr>


      <!--  <h2 v-pre>{{msg5}}</h2>-->


<!--
        <h2 v-model="msg6"></h2>
-->
        <h1>v-model</h1>
        <h1 v-once>保持原值：{{msg5}}</h1>
        <input type="text" v-model="msg5">

        <br>

        <input type="radio" name="g" value="123" v-model="msg5">1
        <input type="radio" name="g" value="2" v-model="msg5">2
        <hr>
        <input type="checkbox" name="edu[]" v-model="msg5" value="3">
        <!--<input type="checkbox" name="edu[]" v-model="msg5" value="4">4-->
        <!--<input type="checkbox" name="edu[]" v-model="msg5" value="5">5-->
        <!--<input type="checkbox" name="edu[]" v-model="msg5" value="6">6-->
        <!--<input type="checkbox" name="edu[]" v-model="msg5" value="7">7-->
        <input type="submit" value="提交">
    </div>
        <div id="app-6">
            <p>{{msg6}}</p>
            <button v-on:click="reverseMessage">逆转消息</button>
        </div>
    <hr>




</body>
<script>
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: '学习js'},
                {text: '学习Vue'},
                {text: '整个牛项目'}
            ]
        }
    });
</script>
</html>